In [1]:
import pandas as pd
import os

In [2]:
#os.listdir()

In [3]:
# Create a path to csv and read school and Student data
csv_path_schools=os.path.join('Py','schools_complete.csv')
csv_path_students=os.path.join('Py','students_complete.csv')

In [4]:
schools_df=pd.read_csv(csv_path_schools)
students_df=pd.read_csv(csv_path_students)

In [5]:
#schools_df

In [6]:
#students_df.head()

In [7]:
# Calculating total Schools and total Students
total_schools=schools_df["name"].count()
total_students=students_df["name"].count()

In [8]:
total_budget=schools_df["budget"].sum()

In [9]:
avg_math_score=students_df["math_score"].mean()

In [10]:
avg_reading_score=students_df["reading_score"].mean()

In [11]:
#Assuming passing score of Math and Readings are 70
pass_math=students_df[students_df.math_score>70]

In [12]:
total_pass_math=pass_math["math_score"].count()

pass_math

In [13]:
pass_reading=students_df[students_df.reading_score>70]

In [14]:
total_pass_reading=pass_reading["reading_score"].count()

In [15]:
# Calculate % Math and Reading pass 
math_percent=(total_pass_math/total_students)*100
read_percent=(total_pass_reading/total_students)*100

In [16]:
overall_pass=(math_percent+read_percent)/2

In [17]:
# Creating a new District Summary table consolidating above calculations
District_Summary = pd.DataFrame({"Total Schools":[total_schools],
                                 "Total Students":[total_students],
                                 "Total Budget":[total_budget],
                                "Average Math Score":[avg_math_score],
                                "Average Reading Score":[avg_reading_score],
                                "% Passing Math":[math_percent],
                                "% Passing Reading":[read_percent],
                                "% Overall Passing Rate":[overall_pass]})

In [18]:
#District_Summary

In [19]:
District_Summary = District_Summary[["Total Schools",
                                     "Total Students",
                                     "Total Budget",
                                     "Average Math Score",
                                     "Average Reading Score",
                                     "% Passing Math",
                                     "% Passing Reading",
                                     "% Overall Passing Rate"]]

In [20]:
# Rouding the Score values to 2 digits
District_Summary = District_Summary.round(2)
#District_Summary

In [21]:
def dollar(number):
    string='$'+ str(number)
    return string

In [22]:
#District_Summary['Total Budget']=District_Summary.apply(lambda x:"{:,}".format(x['Total Budget']),axis=1)
District_Summary["Total Budget"]=District_Summary["Total Budget"].map(dollar)
#df['Value'] = df.apply(lambda x: "{:,}".format(x['Value']), axis=1)
District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,$24649428,78.99,81.88,72.39,82.97,77.68

In [23]:
# WE will merge the two dataframes to 1 data frame by using "school" as common column
# rename the "name" column to "school" column in schools_df
renamed_school_df=schools_df.rename(columns={"name":"school"})

In [24]:
# merge the two data frames
merge_school_table=pd.merge(renamed_school_df,students_df,on="school")

In [25]:
# Display the merged table
merge_school_table.head()

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [26]:
## Calculating passing math and percentage pass in math
math_pass=merge_school_table.loc[merge_school_table["math_score"]>70]
math_pass_groupby=math_pass.groupby('school')
total_math_pass=math_pass_groupby["math_score"].count()
y=merge_school_table.groupby('school')
total_math=y["math_score"].count()
percent_math_pass=pd.DataFrame(total_math_pass/total_math*100)

In [27]:
## Calculating passing reading and percentage pass in reading
read_pass=merge_school_table.loc[merge_school_table["reading_score"]>70]
read_pass_groupby=read_pass.groupby('school')
total_read_pass=read_pass_groupby["reading_score"].count()
y=merge_school_table.groupby('school')
total_read=y["reading_score"].count()
percent_read_pass=pd.DataFrame(total_read_pass/total_read*100)
#percent_read_pass

In [28]:
# Calculate overall passing rate
overall_pass_rate=((percent_math_pass["math_score"]/100+percent_read_pass["reading_score"]/100)/2)*100
overall=pd.DataFrame({"Overall_pass_rate":overall_pass_rate})

In [29]:
#Calculating Per Student Budget
schools_df_index=schools_df.set_index('name')
Per_student_budget=schools_df_index['budget']/schools_df_index['size']
per_stud_budget=pd.DataFrame({"Per Student Budget":Per_student_budget})

In [30]:
# Setting index
school_type = schools_df.set_index('name')['type']
budget=schools_df.set_index('name')['budget']
group_by_school=merge_school_table.groupby('school')

### Creating a summary dataframe
School_Summary=pd.DataFrame({
                            "School Type":school_type,
                            "Total School Budget":budget,
                            "Total Students":group_by_school["name"].count(),
                             "Average Math Score":group_by_school["math_score"].mean(),
                             "Average Reading Score":group_by_school["reading_score"].mean(),
                             "% Passing Math":percent_math_pass["math_score"],
                            "% Passing Reading":percent_read_pass["reading_score"],
                           "% Overall Passing Rate":overall["Overall_pass_rate"],
                            "Per student budget":per_stud_budget["Per Student Budget"]
                             
                            })
#School_Summary
organized_school_summary_df = School_Summary[["School Type","Total Students", "Total School Budget","Per student budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
organized_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per student budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.713896,93.392371,91.553134

In [31]:
########### Calculating top and bottom 5 performing schools based on overall passing rate###########################

In [32]:
## like to preserve the previous df by assigning to new df
top_school_df=organized_school_summary_df

In [33]:
#top_school_df.head()

In [34]:
## Sort df.sort_values(by='col1', ascending=False)
result_top5=top_school_df.sort_values(by='% Overall Passing Rate', ascending=False).head(5)

In [35]:
result_top5

,School Type,Total Students,Total School Budget,Per student budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,92.740047,91.686183

In [36]:
# Sort bottom 5
bottom_school_df=organized_school_summary_df
result_bottom5=(bottom_school_df.sort_values(by='% Overall Passing Rate', ascending=True).head(5))

In [37]:
result_bottom5

,School Type,Total Students,Total School Budget,Per student budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,78.187702,71.467098

In [38]:
############################# Reading Math Scores by grade level################
import numpy as np

In [39]:
math_score_by_grade=students_df.pivot_table(index='school',columns='grade',values='math_score',aggfunc=np.mean)
column_order=['9th','10th','11th','12th']
math_score_by_grade=math_score_by_grade.reindex_axis(column_order,axis=1)
math_score_by_grade=math_score_by_grade.round({'9th':2,'10th':2,'11th':2,'12th':2})
math_score_by_grade

grade                    9th   10th   11th   12th
school
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [40]:
#################################### Reading Scores by grade level################

In [41]:
reading_score_by_grade=students_df.pivot_table(index='school',columns='grade',values='reading_score',aggfunc=np.mean)
column_order=['9th','10th','11th','12th']
reading_score_by_grade=reading_score_by_grade.reindex_axis(column_order,axis=1)
reading_score_by_grade=reading_score_by_grade.round({'9th':2,'10th':2,'11th':2,'12th':2})
reading_score_by_grade

grade                    9th   10th   11th   12th
school
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [42]:
############################## Scores by School Spending using bins ############################
x=organized_school_summary_df
#x.head()

In [43]:
import pandas as pd
def round2(number):
    # Rounds the number
    rounded_number = round(number, 2)
    # Creates a string
    string = str(rounded_number)
    # Returns the string
    return string

x["Average Math Score"]=x["Average Math Score"].map(round2)
x["Average Reading Score"]=x["Average Reading Score"].map(round2)
x["% Passing Math"]=x["% Passing Math"].map(round2)
x["% Passing Reading"]=x["% Passing Reading"].map(round2)
x["% Overall Passing Rate"]=x["% Overall Passing Rate"].map(round2)
#x.columns

In [44]:
#x.head()

In [45]:
#Create 4 bins
bins=[0,585,615,645,675]
#Create names for the 4 bins
group_names=['< $585','$585-615','$615-645','$645-675']

In [46]:
# Cut the x and place the scores into bins
x["Per student budget"] = pd.cut(x["Per student budget"],bins, labels=group_names)

In [47]:
score_by_school_spending=x.groupby('Per student budget')
score_by_school_spend=score_by_school_spending.max()
organized_score_by_school_spending=score_by_school_spend[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
organized_score_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Per student budget,,,,,
< $585,83.8,83.99,90.93,93.86,92.09
$585-615,83.84,84.04,91.68,92.62,91.94
$615-645,83.42,83.85,90.21,93.39,91.56
$645-675,77.29,81.18,64.75,78.81,71.47

In [48]:
###################################### Scores by School Size using bins #################################
By_size=pd.DataFrame({"size":merge_school_table["size"].unique(),
                      "Average Math Score":organized_school_summary_df["Average Math Score"],
                      "Average Reading Score":organized_school_summary_df["Average Reading Score"],
                      "% Passing Math":organized_school_summary_df["% Passing Math"],
                    "% Passing Reading":organized_school_summary_df["% Passing Reading"],
                     "% Overall Passing Rate":organized_school_summary_df["% Overall Passing Rate"]})
By_size=By_size[["size","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
#By_size

In [49]:
#Create 4 bins
bins=[0,1000,2000,5000]
#Create names for the 4 bins
group_names=['Small(<1000)','Medium(1000-2000)','Large(2000-5000)']

In [50]:
# Cut the By_size dataframe and place the size into bins
By_size["size"] = pd.cut(By_size["size"],bins, labels=group_names)
By_school_size=By_size.groupby('size')
By_school_size=By_school_size.max()
By_school_size=By_school_size[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
By_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
size,,,,,
Small(<1000),83.84,84.04,91.68,92.2,91.94
Medium(1000-2000),83.8,83.95,90.63,93.44,91.86
Large(2000-5000),83.42,83.99,90.93,93.86,92.09

In [51]:
###################################### Scores by School Type using bins #################################
By_type=pd.DataFrame({"School type":organized_school_summary_df["School Type"],
                      "Average Math Score":organized_school_summary_df["Average Math Score"],
                      "Average Reading Score":organized_school_summary_df["Average Reading Score"],
                      "% Passing Math":organized_school_summary_df["% Passing Math"],
                    "% Passing Reading":organized_school_summary_df["% Passing Reading"],
                     "% Overall Passing Rate":organized_school_summary_df["% Overall Passing Rate"]})
                    
By_type=By_type[["School type","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
#By_type

In [52]:
By_school_type=By_type.groupby('School type')
By_school_type=By_school_type.max()
By_school_type=By_school_type[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
By_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School type,,,,,
Charter,83.84,84.04,91.68,93.86,92.09
District,77.29,81.18,65.75,79.3,71.97